snippet release
- Release: ${1:Feature name}
	- [ ] ${2:Description of the change}
		- ${3:Link to the PR}
	- $0
endsnippet

snippet investigation
- Investigation: ${1:Investigation topic}
	- $0
endsnippet

snippet meeting
- Meeting: ${1:Meeting name}
	- **People:** ${2:People involved}
endsnippet

snippet discussion
- Discussion: ${1:Discussion topic}
	- $0
endsnippet
